#client-form {
    position: relative;
}

#client-form::before {
    content: '';
    position: absolute;
    block-size: 168px;
    inline-size: 100%;
    background-color: hsl(212, 69%, 56%);
    z-index: -1;
}

.client-form__main {
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0px 16px 32px 0px rgba(5, 43, 87, 0.18);
    margin-block-end: 3rem;
}

.client-form__headlines {
    display: flex;
    background-color: #E9ECEF;
    inline-size: 100%;   
    counter-reset: form-headlines;
}

.client-form__headline {
    padding-block: 1.5rem;
    flex-basis: calc((100% / 12) * 3);
    text-align: center;
    flex-grow: 1;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    color: #ADB5BD;
}

.client-form__headline::before {
    counter-increment: form-headlines;
    content: counter(form-headlines);
    font-size: 1rem;
    color: #ffffff;
    font-weight: var(--fw-medium);
    display: grid;
    place-content: center;
    border-radius: var(--border-radius-round);
    block-size: 1.75rem;
    inline-size: 1.75rem;
    background-color: #ADB5BD;
}

.client-form__content {
    background-color: hsl(0, 0%, 100%);
    padding-inline: 165px;
    padding-block-end: 132px;
}

.client-form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3.5rem 3rem;
}

.client-form__heading {
    margin-block-end: 0.75rem;
    color: hsl(210, 11%, 15%);
}

.client-form__eyebrow {
    font-size: 1.125rem;
    font-weight: var(--fw-medium);
    line-height: 1.7777;
    color: #ADB5BD;
    margin-block-end: 0.25rem;
}

.client-form__desc {
    text-align: center;
}

.client-form__controls {
    display: flex;
    justify-content: space-between;
}

/* ============== */
/*   ATTRIBUTES   */
/* ============== */
[aria-current="step"] {
    background-color: hsl(213, 91%, 70%);
    border-top-right-radius: var(--border-radius-round);
    border-bottom-right-radius: var(--border-radius-round);
}

[aria-current="step"].client-form__headline {
    color: hsl(0, 0%, 100%);
}

[aria-current="step"].client-form__headline::before {
    color: hsl(213, 91%, 70%);
    background-color: hsl(0, 0%, 100%);
}

[data-complete="true"] {
    background-color: #6DABF8;
}

[data-complete="true"].client-form__headline {
    color: hsl(0, 0%, 100%, 50%);
}

[data-complete="true"].client-form__headline::before {
    color: hsl(213, 91%, 70%, 100%);
    background-color: hsl(0, 0%, 100%, 40%);
}


/* ========= */
/*   FORMS   */
/* ========= */
.input-control.success input {
    border-color: #08CA33;
}

.input-control.error input {
    border-color: #E0155C;
}

.input-control .input-error {
    color: #E0155C;
    font-size: 0.875rem;  // 14px
    line-height: 1.42857; // 20px
}

#general-info-form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#general-info-form > .input-control {
    flex-basis: 45%;
    flex-grow: 1;
}

#written-content-form > .input-control:not(:last-child){
    margin-block-end: 30px;
}



