#main-header {
    background-color: hsl(212, 69%, 56%);
}

.main-header {
    padding-block: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header > .button {
    position: absolute;
    right: 0;
}